In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
ratings_df = pd.read_csv("data/ratings.csv").drop("timestamp", axis=1)

In [4]:
ratings_df =  ratings_df.sample(frac=1, random_state=420).reset_index(drop=True)
ratings_df

        userId  movieId  rating
0          398     8738     5.0
1          275     5147     3.0
2          479       31     3.0
3           68     1240     4.0
4          111     5816     4.0
...        ...      ...     ...
100831     307     2005     4.0
100832     413      296     5.0
100833     139    81229     2.0
100834     414      542     2.0
100835      68     8807     4.0

[100836 rows x 3 columns]

In [5]:
print(len(ratings_df["userId"].unique()))
len(ratings_df["movieId"].unique())

610

9724

In [6]:
test_ratings_df = ratings_df.sample(int(len(ratings_df)*0.1), random_state=420)
sampled_indices = test_ratings_df.index

test_pairs =  test_ratings_df[["userId", "movieId"]]
actual_ratings = test_ratings_df["rating"]
remaining_df = ratings_df.drop(sampled_indices)

del ratings_df
del sampled_indices

In [7]:
# Removing rarly scored movies
movie_counts = remaining_df['movieId'].value_counts()
rare_movies = movie_counts[movie_counts < 5].index
remaining_df = remaining_df[~remaining_df['movieId'].isin(rare_movies)]
del rare_movies

In [8]:
remaining_df = remaining_df[remaining_df["rating"] >= 4 ]

In [9]:
# remaining_df = remaining_df.iloc[:1000]
movies = remaining_df["movieId"].unique()
users = remaining_df["userId"].unique()

remaining_df["cluster"] = None

In [36]:
from sklearn.cluster import MiniBatchKMeans
import warnings
# warnings.filterwarnings('ignore')

In [55]:
kmeans = MiniBatchKMeans(n_clusters=5,
                         random_state=420,
                         n_init="auto")
number_of_batches = 10


for iteration, users_batch in enumerate(np.array_split(users, number_of_batches)):
    print(f"Iteration {iteration}")
    
    ratings = remaining_df.loc[remaining_df["userId"].isin(users_batch)]
    X = pd.pivot_table(ratings, index="userId", columns="movieId").fillna(False).astype(bool)
    X.columns = X.columns.get_level_values(1)
    X = X.reindex(columns = movies, fill_value=False)

    kmeans.partial_fit(X)

Iteration 0
Iteration 1
Iteration 2
Iteration 3
Iteration 4
Iteration 5
Iteration 6
Iteration 7
Iteration 8
Iteration 9

In [57]:
user_clusters = pd.DataFrame({"user": users, "cluster": 99}).set_index("user")
user_clusters

x=0
for iteration, users_batch in enumerate(np.array_split(users, number_of_batches)):
    print(f"Iteration {iteration}")
    
    ratings = remaining_df.loc[remaining_df["userId"].isin(users_batch)]
    X = pd.pivot_table(ratings, index="userId", columns="movieId").fillna(False).astype(bool)
    X.columns = X.columns.get_level_values(1)
    X = X.reindex(columns = movies, fill_value=False)
    
    batch_clusters = kmeans.predict(X)
    
    for i, user_id in enumerate(users_batch):
        user_clusters.loc[user_id, "cluster"] = batch_clusters[i]

Iteration 0
Iteration 1
Iteration 2
Iteration 3
Iteration 4
Iteration 5
Iteration 6
Iteration 7
Iteration 8
Iteration 9

In [58]:
user_clusters["cluster"].unique()

array([0, 2, 3, 4, 1])

In [29]:
a = np.array([0,0,0,0])
ids = np.array([1,3])

array([0, 0, 0, 0])

In [72]:
average_ranking = remaining_df["rating"].mean()
def predict(user_id, movie_id):
    cluster = int(user_clusters.loc[user_id, "cluster"])
    users_in_cluster = user_clusters.loc[user_clusters["cluster"] == cluster]
    print(users_in_cluster)
#     rating = remaining_df.loc[(remaining_df["cluster"] == cluster) & (remaining_df["movieId"] == movie_id)]["rating"].mean()
    
#     if np.isnan(rating):
#         rating = remaining_df.loc[remaining_df["movieId"] == movie_id]["rating"].mean()
        
#         if np.isnan(rating):
#             rating = average_ranking
        
#     return rating
    
# y_predicted = np.array([predict(user_id, movie_id) for user_id, movie_id in zip(test_pairs["userId"] ,test_pairs["movieId"])])

# y_predicted
    
# mean_squared_error(y_predicted, actual_ratings)
predict(10,69)

      cluster
user
68          0
111         0
339         0
356         0
546         0
...       ...
501         0
478         0
508         0
54          0
245         0

[604 rows x 1 columns]

In [ ]:
330019 * 38705 / 1024 /1024 /1024